# By Abdullah As-Sadeed

Options -Indexes

DirectoryIndex index.php

<Files ".htaccess">
  Require all denied
</Files>

<Files ".user.ini">
  Require all denied
</Files>

<Files "Template.xhtml">
  Require all denied
</Files>
